<template>
  <div id="app">
    <Heading/> <kalkulator/>
  </div>
</template>

<script>
import Heading from './components/Heading.vue'
import Kalkulator from './components/Kalkulator.vue'

export default {
  name: 'app',
  components: {
    Heading, Kalkulator
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
</style>
